@font-face {
    font-family: 'open_sans_regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {box-sizing: border-box;scroll-behavior: smooth;}
*, *:before, *:after {box-sizing: inherit;}
body {font-family: "open_sans_regular", arial, sans-serif;font-size: 18px;line-height: 1.5;color: #163152;background-color: #fdfdff;padding: 0;margin: 0;}
section {margin-bottom: 4rem;}
h1,h2,h3 {font-family: "open_sans_bold", arial, sans-serif;color: #f7941d;line-height: 1.5}
h1 {font-size: 2.7rem;text-align: center;margin-bottom: 2rem;margin-top: 0;}
h2 {font-size: 1.5rem;margin-bottom: 3rem;}
h3 {font-size: 1.2rem;margin-bottom: 1rem;}
a {text-decoration: none;color: #222;}
.wrapper {max-width: 1366px;padding-left: 1rem;padding-right: 1rem;margin-left: auto;margin-right: auto;}
.site-header {position: sticky;top: 0;z-index: 5;padding-top: 0.5rem;}
.decor-back {
	background-color:#def7ff;
	background-image:
	radial-gradient(circle at 100% 150%, #def7ff 24%, #ffffff 24%, #ffffff 28%, #def7ff 28%, #def7ff 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent),
	radial-gradient(circle at 0 150%, #def7ff 24%, #ffffff 24%, #ffffff 28%, #def7ff 28%, #def7ff 36%, #ffffff 36%, #ffffff 40%, transparent 40%, transparent),
	radial-gradient(circle at 50% 100%, #ffffff 10%, #def7ff 10%, #def7ff 23%, #ffffff 23%, #ffffff 30%, #def7ff 30%, #def7ff 43%, #ffffff 43%, #ffffff 50%, #def7ff 50%, #def7ff 63%, #ffffff 63%, #ffffff 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, #ffffff 5%, #def7ff 5%, #def7ff 15%, #ffffff 15%, #ffffff 20%, #def7ff 20%, #def7ff 29%, #ffffff 29%, #ffffff 34%, #def7ff 34%, #def7ff 44%, #ffffff 44%, #ffffff 49%, transparent 49%, transparent),
	radial-gradient(circle at 0 50%, #ffffff 5%, #def7ff 5%, #def7ff 15%, #ffffff 15%, #ffffff 20%, #def7ff 20%, #def7ff 29%, #ffffff 29%, #ffffff 34%, #def7ff 34%, #def7ff 44%, #ffffff 44%, #ffffff 49%, transparent 49%, transparent);
	background-size: 100px 50px;
}
.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-logo {
	width: 64px;
	height: 64px;
	margin: 0;
	margin-right: 2rem;
	margin-bottom: 0.5rem;
}
.site-title {
	font-family: "open_sans_bold", arial, sans-serif;
	font-size: 2.5rem;
	margin-right: auto;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-right: 2rem;
}
.site-navigation__item {
	font-size: 1rem;
}
.site-navigation__item a {
	color: #163152;
}
.site-navigation__item a:hover {
  color: #f7941d;
}
.site-navigation__item a:active {
  color: #f7941d;
}
.site-navigation__item .active {
	color: #f7941d;
}
.site-navigation__item .active:hover {
	opacity: 0.5;
}
.submenu > a {
	position: relative;
}

.submenu .dropdown-icon {
    position: absolute;
    left: 55px; 
	bottom: 5px;
    border: 5px solid transparent;
	border-top: 5px solid #163152; 
	transition: 0.25s linear;
}
.submenu .submenu-list {
	display: none;
	position: absolute;
	background-color: #def7ff;
	min-width: 10rem;
	z-index: 1;
}
.submenu:hover .submenu-list {
	display: block;
}
.submenu:hover .dropdown-icon {
	border-top: 5px solid transparent;
	border-right: 5px solid #163152;
	bottom: 5px;
}
.submenu-list__item {
	border-bottom: 1px inset #dddddd;
	padding-top: 0.5rem;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
}
.toggle-light-dark {
	display: block;
	width: 31px;
	height: 31px;
	background-image: url("../img/moon.svg");
	background-color: #f6941e;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #163152;
	border: 1px solid #163152;
	border-radius: 50%;
	cursor: pointer;
	padding: 6px;
	margin: auto 0;
}
.toggle-light-dark:hover {
	opacity: 0.5;
}
.toggle-light-dark:active {
	opacity: 0.3;
}
.sub-header {
	max-width: 100%;
	padding-left: 0;
	padding-right: 0;
}
.sub-header .contacts__list {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
.sub-header .contacts__list_item {
	width: 25%;
}
.sub-header .contacts__list_item a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.wa {
	background-color: #169c0d;
}
.tg {
	background-color: #20a0e0;
}
.vb {
	background-color: #7c52a0;
}
.ml {
	background-color: #cdc673;
}
.hero {
	height: 90vh;
	background-image: url("../img/hero-back.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.hero__wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	border-radius: 1rem;
	background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
	transform: translate(-50%, -50%);
	padding: 3rem;
}
.hero h1 {
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
}
.hero-text {
	text-align: justify;
	hyphens: auto;
}
.services h2,.rent h2,.slideshow h2 {
	text-decoration: underline;  
	text-decoration-color: #00c6bd;
	text-decoration-thickness: 2px;
	text-underline-offset: 15px;
	text-underline-position: under;
}
.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
.card-list__item {
	display: flex;
	flex-direction: column;
	max-width: 23%;
	box-shadow: 0 4px 1.66rem rgba(22, 49, 82, 0.12);
	padding: 1.5rem;
}
.card-list__item__title {
	margin-bottom: 18px;
	font-size: 1.2rem;
	line-height: 1.66;
	color: #f7941d;
	margin-bottom: 0.5rem;
}
.card-list__item img{
	max-width: 100%;
	height: auto;
}
.card-list__item__description {
	font-size: 0.89rem;
	text-align: justify;
	hyphens: auto;
	margin-bottom: 1rem;
}
.services .card-list__item__more {
	color: #163152;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	margin-top: auto;
}
.rent .card-list__features {
	list-style-type: disc;
	padding: 0;
	margin: 0;
	margin-left: 1rem;
	margin-bottom: 1.6rem;
}

.rent .card-list__features__item {
	margin-bottom: 4px;
	font-size: 0.85rem;
}

.rent .card-list__price {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 1.rem;
	line-height: 1.2;
	margin: 0;
	margin-top: auto;
}
.main-banner {
	padding: 3rem 1rem;
}
.main-banner__wrapper {max-width: 1024px}
.main-banner h2 {
	text-align: center;
	margin-bottom: 1rem;
}
.main-banner__description{
	font-size: 1.2rem;
	line-height: 1.8;
	text-align: justify;
	hyphens: auto;
}
.end-decor {
	text-align: center;
}
.slideshow {
	margin-bottom: 0;
}
.slideshow-container {
	max-width: 1366px;
	position: relative;
	margin: auto;
}
.main-slides {
	display: none;
}
.main-slides img {
	width: 100%;
}
.prev, .next {
	position: absolute;
	top: 50%;
	width: auto;
	color: #ffffff;
	font-weight: bold;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	cursor: pointer;
	padding: 1rem;
	margin-top: -1rem;
}
.prev:hover, .next:hover {
	color: #f7941d;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background-color: rgba(222,247,255,0.9);
}
.fade {
	animation-name: fade;
	animation-duration: 2.5s;
}
@keyframes fade {
	from {opacity: .4} to {opacity: 1}
}
.main-footer {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 4rem;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	font-size: 0.85rem;
	padding: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}
.footer-container a {
	color: #163152;
	text-decoration: none;
}
.footer-container a:hover {
	color: #f7941d;
}
.footer-container a:active {
	color: #f7941d;;
}
.footer-column {
	display: flex;
	flex-direction: column;
	line-height: 1.7;
	margin-right: auto;
}
.footer-column__top{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: auto;
}
.main-footer .logo {
	margin-right: 2rem;
	margin-bottom: 0.5rem;
}
.footer-navigation-topics {
	display: flex;
	justify-content: space-between;
	width: 760px;
	line-height: 1;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-navigation-topic {
	max-width: 165px;
}
.footer-navigation-topic h2 {
	font-size: 0.95rem;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 20px;
}
.footer-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer-navigation-item {
	margin-bottom: 1rem;
}
.footer-navigation-item:last-child {
	margin-bottom: 0;
}
.policy {
	margin: 0;
	margin-bottom: 0.5rem;
}
.policy a {
	color: #163152;
	text-decoration: none;
}
/* Мобильное меню */

.mobmenu-list {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background-color: #163152;
	overflow-x: hidden;
	z-index: 11;
	transition: 0.5s;
	padding-top: 1rem;
}
.mobmenu-list a {
	display: block;
	font-size: 1.1rem;
	color: #e5e5e5;
	text-decoration: none;
	transition: 0.3s;
	padding: 0.5rem 0.5rem 0.5rem 3rem;
}
.mobmenu-list .mobmenu__btn-close {
	position: absolute;
	top: 0;
	right: 2rem;
	font-size: 2rem;
}
.mobmenu__btn {
	display: none;
	font-size: 1rem;
	color: #e5e5e5;
	background-color: #163152;
	cursor: pointer;
	border: none;
	padding: 0.313rem 0.52rem;
	margin-right: 2rem;
}
.mobmenu__btn:hover {
  background-color: #444;
}

/* Кнопка наверх */
.up-button {
	display: none;
	position: fixed;
	bottom: 75px;
	right: 20px;
	width: 56px;
	height: 56px;
	font-size: 2rem;
	color: #163152;
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	border: 2px solid #163152;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
	z-index: 1;
	padding: 0;
}

.up-button:hover {
	color: #f7941d;
	border-color: #f7941d;
}
.shown {
	display: inline-block;
}

/* Theme: dark */

.page.dark {
	color: #e5e5e5;
	background-color: #163152;
}
.page.dark .decor-back {
	background-color:#000000;
	background-image:
	radial-gradient(circle at 100% 150%, #000000 24%, #163152 24%, #163152 28%, #000000 28%, #000000 36%, #163152 36%, #163152 40%, transparent 40%, transparent),
	radial-gradient(circle at 0 150%, #000000 24%, #163152 24%, #163152 28%, #000000 28%, #000000 36%, #163152 36%, #163152 40%, transparent 40%, transparent),
	radial-gradient(circle at 50% 100%, #163152 10%, #000000 10%, #000000 23%, #163152 23%, #163152 30%, #000000 30%, #000000 43%, #163152 43%, #163152 50%, #000000 50%, #000000 63%, #163152 63%, #163152 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, #163152 5%, #000000 5%, #000000 15%, #163152 15%, #163152 20%, #000000 20%, #000000 29%, #163152 29%, #163152 34%, #000000 34%, #000000 44%, #163152 44%, #163152 49%, transparent 49%, transparent),
	radial-gradient(circle at 0 50%, #163152 5%, #000000 5%, #000000 15%, #163152 15%, #163152 20%, #000000 20%, #000000 29%, #163152 29%, #163152 34%, #000000 34%, #000000 44%, #163152 44%, #163152 49%, transparent 49%, transparent);
}
.page.dark .header-logo svg,.page.dark .logo svg,.page.dark .contacts__list_item svg,.page.dark .end-decor svg {
	fill: #e5e5e5;
}
.page.dark .toggle-light-dark {
	background-image: url("../img/sun-light.svg");
}
.page.dark .wa {
	background-color: #006400;
}
.page.dark .tg {
	background-color: #000080;
}
.page.dark .vb {
	background-color: #4B0082;
}
.page.dark .ml {
	background-color: #BDB76B;
}
.page.dark .hero{
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../img/hero-back.jpg");
}
.page.dark .services .card-list__item__more,.page.dark .site-navigation__item a,.page.dark .footer-container a {
	color: #e5e5e5;
}
.page.dark .hero__wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.page.dark .submenu .dropdown-icon {
  border-top: 5px solid #e5e5e5;
}
.page.dark .submenu:hover .dropdown-icon {
	border-right: 5px solid #e5e5e5;
}
.page.dark .submenu .submenu-list{
	background-color: #163152;
}
.page.dark .main-slides img {
	filter: brightness(60%);
}
.page.dark .up-button {
	color: #e5e5e5;
	background-color: rgba(22, 49, 82, 0.8);
	border: 2px solid #e5e5e5;
}


@media (max-width:480px){
	.mobmenu__btn {
		display: block;
	}
	.site-navigation {
		display: none;
	}
}