@font-face {
    font-family: 'open_sans_regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
body {font-family: "open_sans_regular", arial, sans-serif;font-size: 18px;line-height: 1.5;color: #163152;background-color: #fdfdff;padding: 0;margin: 0;}
section {margin-bottom: 4rem;}
h1,h2,h3 {font-family: "open_sans_bold", arial, sans-serif;color: #f7941d;line-height: 1.5}
h1 {font-size: 2.7rem;text-align: center;margin-bottom: 2rem;margin-top: 0;}
h2 {font-size: 1.5rem;margin-bottom: 3rem;}
h3 {font-size: 1.2rem;margin-bottom: 1rem;}
a {text-decoration: none;color: #222;vertical-align: middle;}
.wrapper {max-width: 1366px;padding-left: 1rem;padding-right: 1rem;margin-left: auto;margin-right: auto;}
.main-banner_wrapper {max-width: 1024px}
.site-header {position: sticky;top: 0;z-index: 5;background-color: #def7ff;padding-top: 1rem;margin-bottom: 3rem;}
.header-nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-logo {
	width: 64px;
	height: 64px;
	margin: 0;
	margin-right: 2rem;
}
.site-title {
	font-family: "open_sans_bold", arial, sans-serif;
	font-size: 2.5rem;
	color: #163152;
	margin-right: auto;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-right: 2rem;
}
.site-navigation__item {
	font-size: 1.rem;
}

.site-navigation__item a {
	color: #163152;
}

.site-navigation__item a:hover {
  color: #f7941d;
}

.site-navigation__item a:active {
  color: #f7941d;
}
.site-navigation__item .active {
	color: #f7941d;
}
.site-navigation__item .active:hover {
	opacity: 0.5;
}
.toggle-light-dark {
	display: block;
	width: 36px;
	height: 36px;
	background-image: url("../img/moon.svg");
	background-color: #f6941e;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #163152;
	border: 1px solid #163152;
	border-radius: 50%;
	cursor: pointer;
	padding: 6px;
	margin: auto 0;
}
.toggle-light-dark:hover {
	opacity: 0.5;
}
.toggle-light-dark:active {
	opacity: 0.3;
}
.header-contact {
	height: 2rem;
}
.hero h1 {
	font-style: italic;
	font-weight: normal;
	text-transform: uppercase;
}
.hero img {
	display: block;
	width: 100%;
	height: auto;
}
/* services and rent*/
.services h2,.rent h2 {
	text-decoration: underline;  
	text-decoration-color: #00c6bd;
	text-decoration-thickness: 2px;
	text-underline-offset: 15px;
	text-underline-position: under;
}
.card-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 2rem;
	list-style: 0;
	padding: 0;
	margin: 0;
}
.card-list__item {
	display: flex;
	flex-direction: column;
	max-width: 23%;
	box-shadow: 0 4px 1.66rem rgba(22, 49, 82, 0.12);
	padding: 1.66rem;
}
.card-list__item__title {
	margin-bottom: 18px;
	font-size: 1.2rem;
	line-height: 1.66;
	color: #f7941d;
	margin-bottom: 0.5rem;
}
.card-list__item img{
	max-width: 100%;
	height: auto;
}
.card-list__item__description {
	font-size: 0.89rem;
	color: #163152;
	text-align: justify;
	hyphens: auto;
	margin-bottom: 1rem;
}
.services .card-list__item__more {
	color: #163152;
	font-weight: bold;
	padding: 0.25rem 0.5rem;
	margin-top: auto;
}
.rent .card-list__features {
	list-style-type: disc;
	padding: 0;
	margin: 0;
	margin-left: 1rem;
	margin-bottom: 1.6rem;
}

.rent .card-list__features__item {
	margin-bottom: 4px;
	font-size: 0.85rem;
}

.rent .card-list__price {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	margin-top: auto;
}
/* main-banner*/
.main-banner {
	background-color:#def7ff;
	background-image:
	radial-gradient(circle at 100% 150%, #def7ff 24%, white 24%, white 28%, #def7ff 28%, #def7ff 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 0    150%, #def7ff 24%, white 24%, white 28%, #def7ff 28%, #def7ff 36%, white 36%, white 40%, transparent 40%, transparent),
	radial-gradient(circle at 50%  100%, white 10%, #def7ff 10%, #def7ff 23%, white 23%, white 30%, #def7ff 30%, #def7ff 43%, white 43%, white 50%, #def7ff 50%, #def7ff 63%, white 63%, white 71%, transparent 71%, transparent),
	radial-gradient(circle at 100% 50%, white 5%, #def7ff 5%, #def7ff 15%, white 15%, white 20%, #def7ff 20%, #def7ff 29%, white 29%, white 34%, #def7ff 34%, #def7ff 44%, white 44%, white 49%, transparent 49%, transparent),
	radial-gradient(circle at 0    50%, white 5%, #def7ff 5%, #def7ff 15%, white 15%, white 20%, #def7ff 20%, #def7ff 29%, white 29%, white 34%, #def7ff 34%, #def7ff 44%, white 44%, white 49%, transparent 49%, transparent);
	background-size: 100px 50px;
	padding: 3rem 1rem;
}
.main-banner h2 {
	text-align: center;
	margin-bottom: 1rem;
}
.main-banner__description{
	font-size: 1.2rem;
	line-height: 1.8;
	text-align: justify;
	hyphens: auto;
}
/* contacts */

.contacts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contacts-content {
  width: 400px;
  padding-top: 50px;
}

.contacts-img {
  width: 670px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 34px;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}

.contact-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.contact-item h3 {
  display: inline;
  margin: 0;
  margin-right: 8px;
  font-size: 16px;
  line-height: 22px;
}

.contact-item address {
  display: inline;
  font-style: normal;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
}

.contact-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.contact-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  list-style: none;
}

.social-item {
  margin-right: 15px;
}

.social-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #00c6bd;
}

.social-item a:hover {
  opacity: 0.5;
}

.social-item a:active {
  opacity: 0.3;
}

/* footer */

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 120px;
  font-size: 10px;
  line-height: 12px;
  border-top: 1px solid rgba(22, 49, 82, 0.1);
}

.footer-container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  width: 175px;
}

.main-footer .logo {
  width: 100px;
  height: 106px;
  margin-bottom: 30px;
}

.footer-navigation-topics {
  display: flex;
  justify-content: space-between;
  width: 870px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}

.footer-navigation-topic {
  width: 165px;
}

.footer-navigation-topic h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-item {
  margin-bottom: 12px;
}

.footer-navigation-item:last-child {
  margin-bottom: 0;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
}

.footer-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.footer-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.policy {
  margin: 0;
  margin-bottom: 8px;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.policy a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.policy a:active {
  color: rgba(22, 49, 82, 0.3);
}

.copyright {
  margin: 0;
}

/* Theme: dark */

.page.dark {
  color: #fdfdff;
  background-color: #1d1f1f;
}

.page.dark .font-button-sans-serif {
  color: #fdfdff;
}

.page.dark .font-button-serif {
  color: #fdfdff;
}

.page.dark .theme-button-light {
  background-image: url("../img/sun-light.svg");
}

.page.dark .logo img {
  filter: brightness(20);
}

.page.dark a {
  color: #fdfdff;
}

.page.dark a:hover {
  opacity: 0.5;
}

.page.dark a:active {
  opacity: 0.3;
}

.page.dark .signin img {
  filter: brightness(20);
}

.page.dark .card-view-button-grid {
  background-image: url("../img/grid-light.svg");
}

.page.dark .card-view-button-list {
  background-image: url("../img/list-light.svg");
}

.page.dark .card {
  box-shadow: 0 4px 30px #181a1a;
}

.page.dark .meta time {
  color: rgba(253, 253, 255, 0.5);
}

.page.dark .share {
  filter: brightness(20);
}

.page.dark .social-item img {
  filter: brightness(20);
}

.page.dark .post-share {
  filter: brightness(20);
}
/* Мобильное меню */

.nav__toggle {
	display: none;
}
.nav-mobile__wrapper {
	position: fixed;
	top: 56px;
	left: 0;
	width: Max(220px, 20%);
	bottom: 0;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transform: translateX(-100%);
	background-color: #d9f0f7;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	display: block;
}
.nav-mobile__wrapper.active {
	visibility: visible;
	opacity: 1;
	transform: translateX(0);
}
.nav-mobile__item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-mobile__item a {
	display: block;
	padding: 1.5rem 1rem;
}
