*{
	box-sizing: border-box;
}
html, body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
html{
	font-size:20px;
}
body{
	font-family:"Roboto Condensed", Arial, Verdana, Helvetica, sans-serif;
	line-height:1.6rem;
	font-weight:300;
	color:#fff;
	overflow:hidden;
	background:#38516c url("../images/bg.jpg") no-repeat;
	background-size:cover;
}
::selection{
	background:#377e77;
	color: #FFF;
}
a{
	color:#377e77;
	text-decoration: none;
}a:hover
{
	color:#003e7e;
}
span{
	font-size:2.6rem;
	line-height:2.6rem;
	font-weight:700;
	color:#FFF;
	font-family: "Roboto Condensed";
}
li p{
	margin:0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	align-items:center;
	min-height: 100%;
	width:1140px;
	padding-top:8%;
	margin:0 auto;
}
.content {
	background:rgba(0,0,0,.5);
	text-align:center;
	padding:2rem 1.25rem;
}
.content h1 {
	font-size:3rem;
	line-height:3rem;
	font-weight:700;
	letter-spacing:-0.6px;
	font-family:"Roboto Condensed";
	text-transform:uppercase;
	color:#fff;
	background:#003e7e;
	padding:0.5rem 0.8rem;
	margin: 0 0 1rem 0;
}
#countscript{
	display:flex;
	justify-content:space-between;
	list-style:none;
	width:50%;
	margin:0 auto;
}
#countdowncont p:last-child{
	margin-bottom:0;
}
.description{
	text-align:justify;
}
.social{
	display:flex;
	justify-content:space-between;
	width:30%;
	list-style:none;
	padding:0;
	margin:0 auto;
}
.social span{
	font-size:1.5rem;
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
	body{overflow:auto;}
	.wrapper {width:100%;padding-top:8%;}
	.content {padding:1.5rem 1rem;}
	.content h1 {font-size:1.8rem;letter-spacing:-0.6px;}
	#countscript{width:90%;margin:0;}
	footer p{margin-bottom:0;}
}
@media screen and (min-width: 600px) and (max-width: 900px) {
	body{overflow:auto;}
	.wrapper {width:100%;padding-top:8%;}
	.content {padding:1.5rem 1rem;}
	.content h1 {font-size:1.8rem;letter-spacing:-0.6px;}
	#countscript{width:90%;margin:0;}
	footer p{margin-bottom:0;}
}
@media screen and (min-width: 481px) and (max-width: 599px) {
	html{font-size:18px;}
	body{overflow:auto;}
	.wrapper {width:100%;padding-top:8%;}
	.content {padding:1.5rem 1rem;}
	.content h1 {font-size:1.8rem;letter-spacing:-0.6px;}
	#countscript{width:90%;margin:0;}
	.social{width:40%;}
}
@media screen and (min-width: 320px) and (max-width: 480px) {
	html{font-size:16px;}
	body{overflow:auto;}
	.wrapper {width:100%;padding-top:8%;}
	.content {padding:1.5rem 1rem;}
	.content h1 {font-size:1.8rem;letter-spacing:-0.6px;}
	#countscript{width:90%;margin:0;}
	.social{width:50%;}
}