html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------*/
:root {
	--color-primary: #696969;
	--color-secondary: #fdfdff;
	--bg-primary: #fdfdff;
	--bg-secondary: #fe62ab;
	--violet: #e665fd;
	--light-green: #8ffe8f;
	--unit: 4rem;
}
html,
    body {
      position: relative;
      height: 100%;
    }
html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.67;
	font-weight: 400;
	color: var(--color-primary);
	background-color: var(--bg-primary);
}
h1, h2, h3, h4 {
	font-family: "Lobster", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 1px 1px 2px var(--color-primary);
}
h1 {
  font-size: 3.5rem;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
  line-height: 2.75;
}
h3 {
  font-size: 1.313rem;
}
h4 {
  font-size: 1.125rem;
}
section {
	margin-bottom: var(--unit);
}
.penult {
	margin-bottom: 0;
}
p{
	text-align:justify;
	hyphens: auto;
	margin-bottom: .5rem;
}
small {
	font-size: 0.8rem;
}
.wrapper {
	max-width: 1366px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: auto;
	margin-right: auto;
}
.site-header {
	background: var(--bg-secondary);
	padding-top: 0.5rem;
}
.header-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header-logo img{
	width: 120px;
	height: 120px;
	margin: 0;
}
.site-title {
	color: var(--color-secondary);
	letter-spacing: 1px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 2rem;
}
.mobmenu__btn {
	display: none;
}
.toggle-light-dark {
	display: block;
	width: 35px;
	height: 35px;
	background-image: url("../img/moon.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--bg-secondary);
	border: 1px solid var(--color-secondary);
	border-radius: 50%;
	cursor: pointer;
	margin-bottom: 2rem;
}
.toggle-light-dark:hover {
	opacity: 0.5;
}
.header-nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: -2rem;
}
.site-navigation {
	display: flex;
	justify-content: space-between;
	width: 600px;
	padding-bottom: 1rem;
	margin-right: auto;
	margin-left: auto;
}
.site-navigation__item {
	font-size: 1rem;
}
.site-navigation__item a {
	color: var(--color-secondary);
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}
.site-navigation__item a:hover {
  color: var(--light-green);
}
.site-navigation__item a:active {
  color: var(--light-green);
}
.site-navigation__item .active {
	color: var(--light-green);
}
.site-navigation__item .active:hover {
	opacity: 0.5;
}
/* Слайдер*/
.swiper {
	width: 100%;
	height: auto;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-pagination-bullet {
	width: 1rem;
	height: 1rem;
	background: #fff;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	--swiper-pagination-bullet-opacity: 1;
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
}
/*-----*/
.section-title {
	text-align: center;
	color: var(--color-secondary);
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px var(--color-primary);
	background: var(--bg-secondary);
	margin-bottom: var(--unit);
}
.news {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}
.news__item {
	width: 432px;
	padding: 1rem;
}
.news__item img{
	width: 100%;
	height: auto;
}
/* Эффекты */
.effect {
	position: relative;
} 
.effect img {
	display: block;
}
.eff-3-3 {
	overflow: hidden;
}
.eff-3-3 .caption {
	position: absolute;
	top: 0;
	left: 0px;
	background: var(--violet);
	width: 100%;
	height: 100%;
	color: var(--color-secondary);
	opacity: 0;
	transition: all 0.3s linear 0s;
}
.eff-3-3 .caption h3 {
	position: relative;
	top: -100%;
	font-size: 21px;
	color: var(--light-green);
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid var(--color-secondary);
	transform: scale(0.25);
	transition: top 0.3s linear 0s, transform 0.3s linear 0.3s;
	padding-bottom: 20px;
	margin-top: 20px;
}
.eff-3-3 .caption p {
	text-align: center;
	font-style: italic;
	padding: 0px 10px;
	margin: 15px 0px;
}
.eff-3-3 .caption a.btn {
	display: block;
	width: 120px;
	position: relative;
	top: 100%;
	color: var(--color-secondary);
	background: var(--bg-secondary);
	text-align: center;
	text-decoration: none;
	border: 1px solid (--color-secondary);
	border-radius: 5px;
	transform: scale(0.25);
	transition: top 0.3s linear 0s, transform 0.3s linear 0.3s;
	padding: 10px 0;
	margin: 0 auto;
}
.eff-3-3:hover .caption {
	opacity: 1;
}
.eff-3-3:hover .caption h3,
.eff-3-3:hover .caption a.btn {
	transform: scale(1);
	top: 0px;
}
.border-eff {
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  box-shadow: 1rem 1rem rgba(0,0,0,.15);
  transition: all .4s ease;
}
.border-eff:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: .5rem .5rem rgba(0,0,0,.25);
}
/*------------------------------------------*/
.site-footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--bg-secondary);
	padding: 1rem;
	margin-top: var(--unit);
}
.copyright {
	line-height: 1;
	color: var(--color-secondary);
	text-align: center;
	margin-top: 1rem;
}
.developer {
	line-height: 2;
	color: var(--color-secondary);
	text-decoration: none;
}
.developer:hover {
	color: var(--light-green);
}